<!DOCTYPE html>
<html>
  <head>
    {% block style %}
    {% endblock %}
    <style>
      body {
        font-family: arial, sans-serif;
      }
      .bg-grey {
        background-color: #c0c0c0;
        -webkit-print-color-adjust: exact;
      }
      .bg-grey-light {
        background-color: #f5f5f5;
        -webkit-print-color-adjust: exact;
      }
      .text-n {
        color: #ccb71c;
        font-weight: 600;
        -webkit-print-color-adjust: exact;
      }
      .text-p {
        color: #cc5f1c;
        font-weight: 600;
        -webkit-print-color-adjust: exact;
      }
      .text-k {
        color: #88cc1c;
        font-weight: 600;
        -webkit-print-color-adjust: exact;
      }
      .text-grey {
        color: #9e9e9e;
        -webkit-print-color-adjust: exact;
      }
      .text-bold {
        font-weight: 600;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <div id="content">
      {% for fertilization_plan in fertilization_plans %}
        <div style="page-break-after: always;">
          <h1 style="margin-top: 0px;">{{ fertilization_plan.fertilization_plan_name }}</h1>
          <p>{{ fertilization_plan.holding_name }} ({{ fertilization_plan.campaign_name }})</p>
          <table>
            <tr>
              <th>
                Algorithme
              </th>
              <th>
                Date de mise à jour du plan
              </th>
              <th>
                Date de création du rapport
              </th>
            </tr>
            <tr>
              <td>
                <div style="display: flex; flex-wrap: nowrap; align-items: center;">
                  <div style="display: flex; align-items: center;">
                    <div style="width: 25px; height: auto;">{{ algorithm_logo|safe }}</div>
                    <div style="margin-left: 8px;">Requaferti</div>
                  </div>
                </div>
              </td>
              <td>
                {{ fertilization_plan.fertilization_plan_date|datetimeformat("%Y-%m-%d %H:%M:%S", "%Y-%m-%dT%H:%M:%S.%f%z", "UTC") }}
              </td>
              <td>
                {{ current_date_time|datetimeformat("%Y-%m-%d %H:%M:%S", "%Y-%m-%dT%H:%M:%S.%f%z", "UTC") }}
              </td>
            </tr>
          </table>
          
          {% if fertilization_plan.recommendations_by_plot %}
            {% for plot_id, plot_recommendation in fertilization_plan.recommendations_by_plot.items() %}
              <h3 style="padding-top: 16px;">{{ plot_recommendation.plot_name }}</h3>
              {% if plot_recommendation.plot_preview %}
              <div style="width: 100%; max-height: 350px;">
                {{ plot_recommendation.plot_preview|safe }}
              </div>
              {% endif %}
              {% for recommendation in plot_recommendation.recommendations %}
                <p style="margin-top: 2em;">
                  <span style="text-transform: uppercase;">
                    {{ recommendation.plant_species_name }}{% if recommendation.plant_species_profile_name %} - {{ recommendation.plant_species_profile_name }}{% endif %}
                  </span>
                  {% if not recommendation.crop_yield is none %}
                    <span>
                      &nbsp; {{ recommendation.crop_yield }} {{ recommendation.crop_yield_unit }}
                    </span>
                  {% endif %}
                </p>
                <table style="margin-top: 1em;">
                  <tr>
                    <th colspan="3" style="text-align: center; font-size: 1.15em;">
                      Recommendations
                    </th>
                  </tr>
                  <tr>
                    {% for element_recommendation in recommendation.element_recommendations %}
                      {% if element_recommendation.result_type|upper == 'PLANT_NEEDS' %}
                        <th>Besoins</th>
                      {% endif %}
                      {% if element_recommendation.result_type|upper == 'PLANT_SUPPLIES' %}
                        <th>Fournitures</th>
                      {% endif %}
                      {% if element_recommendation.result_type|upper == 'RECOMMENDATION' %}
                        <th>Fumure</th>
                      {% endif %}
                    {% endfor %}
                  </tr>
                  <tr>
                    {% for element_recommendation in recommendation.element_recommendations %}
                      {% if element_recommendation.result_type|upper == 'PLANT_NEEDS' %}
                        <td>{{ element_recommendation.quantity }} {{ element_recommendation.quantity_unit_of_measure_symbol }}</td>
                      {% endif %}
                      {% if element_recommendation.result_type|upper == 'PLANT_SUPPLIES' %}
                        <td>{{ element_recommendation.quantity }} {{ element_recommendation.quantity_unit_of_measure_symbol }}</td>
                      {% endif %}
                      {% if element_recommendation.result_type|upper == 'RECOMMENDATION' %}
                        <td><span class="text-bold">{{ element_recommendation.quantity }} {{ element_recommendation.quantity_unit_of_measure_symbol }}</span></td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                </table>
                {% if not loop.last %}
                  <hr style="margin-top: 24px; margin-bottom: 24px;" />
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
          
          {% if fertilization_plan.parameters %}
          <div style="padding-top: 2em;">
            <table>
              <tr>
                <th colspan="2" style="text-align: center; font-size: 1.15em;">
                  Paramètres du plan de fertilisation
                </th>
              </tr>              
              
              <tr>
                <td>Culture</td>
                <td>{{ fertilization_plan.parameters.plantSpecies.name }}</td>
              </tr>
              <tr>
                <td>Profil de la culture</td>
                <td>{{ fertilization_plan.parameters.cropProfile.libelle }}</td>
              </tr>
              {% if fertilization_plan.parameters.cropTargetYieldUnit %}
              <tr>
                <td>Objectif de rendement</td>
                <td>{{ fertilization_plan.parameters.cropTargetYield }} {{ fertilization_plan.parameters.cropTargetYieldUnit }}</td>
              </tr>
              {% endif %}              
              {% if fertilization_plan.parameters.cropVegetationStage %}
                <tr>
                  <td>Stade de la végétation</td>
                  <td>{{ fertilization_plan.parameters.cropVegetationStage.libelle }}</td>
                </tr>
              {% endif %}
              {% if fertilization_plan.parameters.cropSpinachHeight %}
                <tr>
                  <td>Hauteur des épinards</td>
                  <td>{{ fertilization_plan.parameters.cropSpinachHeight.libelle }}</td>
                </tr>
              {% endif %}              
              {% if fertilization_plan.parameters.cropColzaCoverage %}
                <tr>
                  <td>Recouvrement du colza</td>
                  <td>{{ fertilization_plan.parameters.cropColzaCoverage.libelle }}</td>
                </tr>
              {% endif %}
              {% if not fertilization_plan.parameters.cropColzaCoverageCustom is none %}
                <tr>
                  <td>Recouvrement du colza (valeur personnalisée)</td>
                  <td>{{ fertilization_plan.parameters.cropColzaCoverageCustom  }} kg N/ha</td>
                </tr>
              {% endif %}

              {% if fertilization_plan.parameters.soilSampleDate %}
                <tr>
                  <td>Date de l'analyse du sol</td>
                  <td>{{ fertilization_plan.parameters.soilSampleDate|datetimeformat("%Y-%m-%d", "%Y-%m-%dT%H:%M:%S.%f%z", "UTC") }}</td>
                </tr>
              {% endif %}
              <tr>
                <td>Profil NNO3</td>
                <td>{{ fertilization_plan.parameters.soilNNO3Profile }} kg N/ha</td>
              </tr>
              <tr>
                <td>Profil NNH4</td>
                <td>{{ fertilization_plan.parameters.soilNNH4Profile }} kg N/ha</td>
              </tr>
              <tr>
                <td>Reliquat N</td>
                <td>{{ fertilization_plan.parameters.soilResidualN }} kg N/ha</td>
              </tr>
              {% if not fertilization_plan.parameters.soilOrganicMatterContent is none %}
              <tr>
                <td>Teneur en matière organique</td>
                <td>{{ fertilization_plan.parameters.soilOrganicMatterContent }} %</td>
              </tr>
              {% endif %}
              {% if not fertilization_plan.parameters.soilCarbonContent is none %}
              <tr>
                <td>Teneur en carbone</td>
                <td>{{ fertilization_plan.parameters.soilCarbonContent }} %</td>
              </tr>
              {% endif %}  
              {% if not fertilization_plan.parameters.soilNHumus is none %}
              <tr>
                <td>N humus</td>
                <td>{{ fertilization_plan.parameters.soilNHumus }} g/kg ou ‰</td>
              </tr>
              {% endif %}                                            
              <tr>
                <td>Teneur en argile</td>
                <td>{{ fertilization_plan.parameters.soilClayContent }} %</td>
              </tr>                                         
              <tr>
                <td>Teneur en calcaire</td>
                <td>{{ fertilization_plan.parameters.soilCalciumContent }} %</td>
              </tr> 
              <tr>
                <td>Les conditions du sol sont-elles défavorables ?</td>
                <td>{{ 'Oui' if fertilization_plan.parameters.soilConditionsAreUnfavorable else 'Non' }}</td>
              </tr>
              <tr>
                <td>Charge caillouteuse</td>
                <td>{{ fertilization_plan.parameters.soilStonyContent }} %</td>
              </tr>
              <tr>
                <td>Température moyenne de l'air</td>
                <td>{{ fertilization_plan.parameters.soilAverageAirTemperature }} °C</td>
              </tr>      
              <tr>
                <td>Densité du sol</td>
                <td>{{ fertilization_plan.parameters.soilDensity }}</td>
              </tr>                                  
              <tr>
                <td>Profondeur de la couche arable</td>
                <td>{{ fertilization_plan.parameters.soilDepth }} cm</td>
              </tr>
              <tr>
                <td>Facteur de conversion</td>
                <td>{{ fertilization_plan.parameters.soilConversionFactor }}</td>
              </tr>   
              <tr>
                <td>Coefficient de minéralisation (Km)</td>
                <td>{{ fertilization_plan.parameters.soilKm }}</td>
              </tr>   
              {% if not fertilization_plan.parameters.soilMineralizationPotential is none %}
              <tr>
                <td>Potentiel de minéralisation</td>
                <td>{{ fertilization_plan.parameters.soilMineralizationPotential }}</td>
              </tr>    
              {% endif %}                                         

              <tr>
                <td>Y avait-il une culture principale lors de la campagne précédente ?</td>
                <td>{{ 'Oui' if fertilization_plan.parameters.previousCropExists else 'Non' }}</td>
              </tr>
              {% if fertilization_plan.parameters.previousCropExists %}
                <tr>
                  <td>Profil de culture de la campagne précédente</td>
                  <td>{{ fertilization_plan.parameters.previousCropProfile.libelle }}</td>
                </tr>
                <tr>
                  <td>Destination de la partie aérienne</td>
                  <td>{{ fertilization_plan.parameters.previousCropAerialPartDestination.libelle_part }}</td>
                </tr>
                {% if not fertilization_plan.parameters.previousCropTestSampleIncludesNitrogenEffect is none %}
                <tr>
                  <td>L'effet de la culture précédente principale sur la fourniture en azote était-il déjà pris en compte dans l'analyse du sol ?</td>
                  <td>{{ 'Oui' if fertilization_plan.parameters.previousCropTestSampleIncludesNitrogenEffect else 'Non' }}</td>
                </tr>
                {% endif %}
              {% endif %}

              <tr>
                <td>Y avait-il une CIPAN avant l'installation de la culture principale ?</td>
                <td>{{ 'Oui' if fertilization_plan.parameters.intermediateCropExists else 'Non' }}</td>
              </tr>
              {% if fertilization_plan.parameters.intermediateCropExists %}
                <tr>
                  <td>Profil de la CIPAN</td>
                  <td>{{ fertilization_plan.parameters.intermediateCropProfile.libelle }}</td>
                </tr>
                <tr>
                  <td>Niveau de production</td>
                  <td>{{ fertilization_plan.parameters.intermediateCropProductionLevel.libelle_prod }}</td>
                </tr>
                {% if not fertilization_plan.parameters.intermediateCropTestSampleIncludesNitrogenEffect is none %}
                  <tr>
                    <td>L'effet de la CIPAN sur la fourniture en azote était-il déjà pris en compte dans l'analyse du sol ?</td>
                    <td>{{ 'Oui' if fertilization_plan.parameters.intermediateCropTestSampleIncludesNitrogenEffect else 'Non' }}</td>
                  </tr>
                {% endif %}
              {% endif %}

            <tr>
              <td>Y avait-il une prairie avant l'installation de la culture principale ou de la CIPAN ?</td>
              <td>{{ 'Oui' if fertilization_plan.parameters.intermediateCropHadMeadow else 'Non' }}</td>
            </tr>
            {% if fertilization_plan.parameters.intermediateCropHadMeadow %}
              <tr>
                <td>Age de la prairie</td>
                <td>{{ fertilization_plan.parameters.intermediateCropMeadowAge.libelle }}</td>
              </tr>
              <tr>
                <td>Période de destruction de la prairie</td>
                <td>{{ fertilization_plan.parameters.intermediateCropMeadowDestructionSeason.libelle }}</td>
              </tr>
              <tr>
                <td>Rang de la prairie</td>
                <td>{{ fertilization_plan.parameters.intermediateCropMeadowRank.libelle }}</td>
              </tr>
            {% endif %}

            <tr>
              <td>Y avait-il de la luzerne avant l'installation de la culture principale ou de la CIPAN ?</td>
              <td>{{ 'Oui' if fertilization_plan.parameters.intermediateCropHadLucerne else 'Non' }}</td>
            </tr>
            {% if fertilization_plan.parameters.intermediateCropHadLucerne %}
              <tr>
                <td>Age de la luzerne</td>
                <td>{{ fertilization_plan.parameters.intermediateCropLucerneAge.libelle }}</td>
              </tr>
              <tr>
                <td>Rang de la luzerne</td>
                <td>{{ fertilization_plan.parameters.intermediateCropLucerneRank.libelle }}</td>
              </tr>
            {% endif %}         
   
            <tr>
              <td>Fréquence des apports de fumure organique lors des campagnes précédentes</td>
              <td>{{ fertilization_plan.parameters.organicManureFrequency.frequence }}</td>
            </tr>
            {% for application in fertilization_plan.parameters.organicManureApplications %}
            <tr>
              <td>Apport de fumure organique lors de la campagne en cours</td>
              <td>#{{ loop.index }}</td>
            </tr>
            <tr>
              <td>Catégorie animale</td>
              <td>{{ application.animalCategory.libelle }}</td>
            </tr>
            <tr>
              <td>Type d'effluent</td>
              <td>{{ application.organicMatterType.type_eff_libelle }}</td>
            </tr>
            <tr>
              <td>Quantité d'effluent</td>
              <td>{{ application.effluentQuantity }} t/ha</td>
            </tr>
            <tr>
              <td>Teneur N de la matière fraîche</td>
              <td>{{ application.nitrogenContent }} kg N/ha</td>
            </tr>        
            <tr>
              <td>Date de l'apport</td>
              <td>{{ application.applicationDate|datetimeformat("%Y-%m-%d", "%Y-%m-%dT%H:%M:%S.%f%z", "UTC") }}</td>
            </tr>                  
            {% endfor %}
            
            </table>
          </div>
        {% endif %}

        </div>
      {% endfor %}
    </div> 
  </body>
</html>
